* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Utility */

:root {
    --zapp-bg-top: #009688;
    --zapp-bg-bottom: #dbdbd2;
    --zapp-light: #eaeaea;
    --zapp-lighter: #ffffff;
    --zapp-darkest: #000000;
    --zapp-darker: #6b7376;
    --zapp-dark: #b1b1b1;
    --zapp-highlight: #8edafc;
    --zapp-sent-bubble: #d5f9ba;
    --zapp-tiping: #f3eeea;
}

.background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
            var(--zapp-bg-top) 0%,
            var(--zapp-bg-top) 10%,
            var(--zapp-bg-bottom) 10%,
            var(--zapp-bg-bottom) 100%);
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--zapp-light);
    width: calc(100vw - 25%);
    height: calc(100% - 2rem);
    max-width: 1200px;

    @media screen and (max-width: 991px) {
        width: 100%;
        height: 100%;
    }
}

.d_flex {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    height: 100%;
}

.col_left {
    width: 389px;
    border-right: 1px solid var(--zapp-dark);

    @media screen and (max-width: 991px) {
        .col_left {
            width: 5rem;
        }
    }

    @media screen and (max-width: 540px) {
        display: none;
    }
}

.col-right {
    width: calc(100% - 389px);

    @media screen and (max-width: 991px) {
        width: calc(100% - 4.5rem);
    }

    @media screen and (max-width: 540px) {
        width: 100%;
    }
}

.left_side_img {
    width: 5rem;

    &>img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        padding: 0.5rem;
    }
}

.right_side {
    padding: 0.5rem;
    justify-content: flex-end;
    
    & > i{
        align-self: center;
        color: var(--zapp-dark);
    }

}

i {
    font-size: 1.3rem;
    padding: 0.5rem;
}

/* Left side app */
/* user menu */
.right_side {
    width: calc(100% - 5rem);

    .menu_option {
        height: 5rem;
        justify-content: space-between;
        background-color: var(--zapp-light);
    }    

}

/* Notification */

.notify{
    background-color: var(--zapp-highlight);

    & i{
        background-color: var(--zapp-lighter);
        color: var(--zapp-highlight);
        margin: 0.5rem;
        border-radius: 50%;
        aspect-ratio: 1;
        justify-content: center;
        align-items: center;
    }

    .notifications_text{
        justify-content: flex-start;
        align-content: center;
    }
}

.notification_activeted,
.text_preview{

    color: var(--zapp-darker);
    font-size: 0.8rem;
}

/* Searching bar */

.search_bar{
    height: 4rem;
    border: 1px dashed;

    > form{
        height: 90%;
        width: 100%;
        margin: 0.2rem;
        background-color: var(--zapp-lighter);
        border: 1px solid var(--zapp-dark);
        border-radius: 1rem;
        align-self: center;
    }

    .typing_bar{
        border: none;
        outline-style: none;
    }

    & i{
        color: var(--zapp-dark);
        padding: 0 1.5rem;
        align-self: center;
    }
}


/* media query */

@media screen and (max-width: 991px) {

    .right_side {
        display: none;
    }

    .img_box_size_md {
        width: 4.5rem;
    }

    .hidden-md {
        display: none;
    }

    .chat_list {
        height: 100%;
    }


}

@media screen and (max-width: 540px) {

    .hidden-sm {
        display: none;
    }

    .left_menu {
        width: 100%;
    }

    .chat_massages_box {
        max-width: 100%;
    }

    :
}