* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Utility */

:root {
    --zapp-bg-top: #009688;
    --zapp-bg-bottom: #dbdbd2;
    --zapp-light: #eaeaea;
    --zapp-lighter: #ffffff;
    --zapp-darkest: #000000;
    --zapp-darker: #6b7376;
    --zapp-dark: #b1b1b1;
    --zapp-highlight: #8edafc;
    --zapp-sent-bubble: #d5f9ba;
}

.background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        var(--zapp-bg-top) 0%,
        var(--zapp-bg-top) 10%,
        var(--zapp-bg-bottom) 10%,
        var(--zapp-bg-bottom) 100%
      );
      overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--zapp-light);
    width: calc(100vw - 25%);
    height: calc(100% - 2rem);
}

.row{
    display: flex;
    height: 100%;
}

.col-12{
    width: 100%;
}

.col-11 {
    width: calc((100% / 12) *11);
}

.col-8 {
    width: calc((100% / 12) *8);
}

.col-4 {
    width: calc((100% / 12) *4);
}

.col-1 {
    width: calc((100% / 12) *1);
}


/* Debug */
.debug{
    border: 1px dashed;
}

/* left side - menu */


/* right dìside - chat */

/* media query */

@media screen and (max-width: 991px) {

    .col-12-md{
        width: 100%;
    }
    
    .col-11-md {
        width: calc((100% / 12) *11);
    }
    
    .col-8-md {
        width: calc((100% / 12) *8);
    }
    
    .col-4-md {
        width: calc((100% / 12) *4);
    }
    
    .col-1-md {
        width: calc((100% / 12) *1);
    }

    
}

@media screen and (max-width: 540px) {

    .col-12-sm{
        width: 100%;
    }
    
    .col-11-sm {
        width: calc((100% / 12) *11);
    }
    
    .col-8-sm {
        width: calc((100% / 12) *8);
    }
    
    .col-4-sm {
        width: calc((100% / 12) *4);
    }
    
    .col-1-sm {
        width: calc((100% / 12) *1);
    }

    .hidden-sm{
        display: none;
    }
    
}