* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Utility */

:root {
    --zapp-bg-top: #009688;
    --zapp-bg-bottom: #dbdbd2;
    --zapp-light: #eaeaea;
    --zapp-lighter: #ffffff;
    --zapp-darkest: #000000;
    --zapp-darker: #6b7376;
    --zapp-dark: #b1b1b1;
    --zapp-highlight: #8edafc;
    --zapp-sent-bubble: #d5f9ba;
    --zapp-tiping: #f3eeea;
}

.background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
            var(--zapp-bg-top) 0%,
            var(--zapp-bg-top) 10%,
            var(--zapp-bg-bottom) 10%,
            var(--zapp-bg-bottom) 100%);
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--zapp-light);
    width: calc(100vw - 25%);
    height: calc(100% - 2rem);

}

.row {
    display: flex;
    height: 100%;
}

.d_flex {
    display: flex;
    flex-wrap: wrap;
}

.col_left {
    width: 35%;
}

.col-right {
    width: calc(100% - 35%);
}

.left_side_img {
    width: 4.5rem;
    padding: 0.5rem;
    height: 4.5rem;
}

.right_side {
    width: calc(100% - 4.5rem);
    height: 4.5rem;
}

i {
    font-size: 1.3rem;
}

/* Debug */

.debug.search_bar {
    background-color: antiquewhite;
}

.debug.search_bar {
    background-color: #6b7376;
}

.debug.chat_list {
    background-color: whitesmoke;
}

.debug.left_side_img,
.debug.preview_text {
    border: 1px dashed;
}

/* left side - menu */
.icons_menu.right_side{
        padding: 0.7rem 1rem;
}

.notify{
    background-color: var(--zapp-highlight);
}

.search_bar {
    height: 3rem;
}

.icon_search{
    width: 4.5rem;
    height: 3rem;
    padding: 0.8rem;
    text-align: center;
}

.fa-bell-slash {
    width: 3rem;
    height: 3rem;
    padding: 0.8rem;
    margin: 0.75rem;
    color: var(--zapp-highlight);
    background-color: var(--zapp-light);
    border-radius: 50%;
    text-align: center;
    
}

.notification_text{
    font-size: 0.9rem;
    padding-top: 0.6rem;
    left: 0.5rem;

    & .notification_activeted{
        font-size: 0.8rem;
        color: var(--zapp-darker);
        text-decoration: underline;
    }
}

.chat_list {
    height: calc(100% - 13rem);
    overflow-y: scroll;
}

/* right side - chat */
.message_side {
    height: 100%;
}

.chat_menu {
    height: 4.5rem;
    justify-content: space-between;
    
}

.profile_name {
        font-size: 1rem;
       line-height: 1.5rem;
       margin-top: 0.8rem;
    }

.last_access {
    color: var(--zapp-dark);
    font-size: 0.8rem;
}

.left_menu,
.right_menu {
    width: 50%;
    height: 100%;
    background-color: var(--zapp-light);
}

.right_menu{
        padding: 0.7rem 1rem;
}

.img_profile {
    width: 100%;
    border-radius: 50%;
}

.icons_menu {
    text-align: end;
    color: var(--zapp-dark);

    &>i {
        padding: 1rem 0.5rem;
    }
}

/* Chat */
.chat_massages_box {
    width: 100%;
    height: calc(100% - 9rem);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

/* texting */

.chat_text_typing {
    background-color: var(--zapp-tiping);
    height: 4.5rem;
    width: 100%;
    justify-items: space-around;
    align-content: center;
}

.texting_box,
.emoj_btn,
.audio_message_btn {
    height: 100%;

}

.emoj_btn,
.audio_message_btn {
    width: 4.5rem;
    color: var(--zapp-darker);
}


[type="text"] {
    width: calc(100% - 9rem);
    height: 80%;
    padding-left: 1rem;
    margin: auto;
    border-radius: 0.7rem;
    font-size: 1rem;
    border-style: none;
}

.fa-face-grin,
.fa-microphone {
    padding: 1.5rem;
}




/* media query */

@media screen and (max-width: 991px) {

    .col_left {
        width: 5rem;
    }

    .col-right {
        width: calc(100% - 4.5rem);
    }

    .right_side {
        display: none;
    }

    .img_box_size_md {
        width: 4.5rem;
    }

    .container {
        width: 100%;
        height: 100%;

    }
}

@media screen and (max-width: 540px) {

    .col-12-sm {
        width: 100%;
    }

    .col-11-sm {
        width: calc((100% / 12) *11);
    }

    .col-8-sm {
        width: calc((100% / 12) *8);
    }

    .col-4-sm {
        width: calc((100% / 12) *4);
    }

    .col-1-sm {
        width: calc((100% / 12) *1);
    }

    .hidden-sm {
        display: none;
    }

    .left_menu {
        width: 100%;
    }

    .col-right {
        width: 100%;
    }

}